/* BANNER */
.banner {
    background: url('../images/banner_about.jpg') no-repeat center center;
    background-size: cover;
    text-align: left; /* Metinleri sola hizala */
    color: white;
    padding: 200px 20px;
    background-position: center;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner h1 {
    margin: 0;
    font-size: 2.5em;
    color: white;
    text-align: left; /* Ana başlığı sola hizala */
}

.banner p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: white;
    text-align: left; /* Açıklama metnini sola hizala */
}

/* About */
.about-content {
    max-width: 1200px;
    margin: 80px auto 40px;
    padding: 20px;
    background: rgba(255, 255, 255, 0); /* Şeffaf arka plan */
}

/* Responsive görseller */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Responsive Banner */
@media only screen and (max-width: 480px) {
    .banner h1 {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .banner h1 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 769px) {
    .banner h1 {
        font-size: 3em;
    }
}

/* Introduction */
.introduction {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 60px 20px;
    gap: 20px;
}

.intro-content {
    flex: 1;
    text-align: left;
}

.intro-content h2 {
    font-size: 2.5em;
    color: #1f8cad;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.intro-content p {
    font-size: 1.1em;
    color: #555;
    max-width: 600px;
}

.intro-image {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.intro-image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.intro-image img:hover {
    transform: scale(1.05);
}

.fade-in-section {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.show {
    opacity: 1;
    transform: translateX(0);
}

/* Vision - Mission */
.vision-mission, .our-story, .our-team, .values, .support-us {
    margin-bottom: 40px;
}

.vision, .mission {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* OUR-STORY */
.our-story, .values {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* TEAM MEMBER */
.meet-the-team {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-member {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.team-member.visible {
    opacity: 1;
    transform: translateY(0);
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 1.5em;
    color: #243254;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

.bio {
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 10px;
}

.contact-info a {
    display: inline-block;
    text-decoration: none;
    color: #1f8cad;
    font-weight: bold;
    margin-right: 5px;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #33C1FF;
}

/* Values */
.values ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.values li {
    background-color: #1f8cad;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Donate */
.support-us {
    background: linear-gradient(135deg, #76daf6, #00c6ff);
    color: #ffffff;
    padding: 20px 5px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.support-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgb(250, 250, 250);
}

.support-us p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto 20px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.support-us .donate-btn {
    background: #243254;
    padding: 12px 24px;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.support-us .donate-btn:hover {
    background: #02ffd9;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.support-us.visible {
    opacity: 1;
    transform: translateY(0);
}

