/* GENEL AYARLAR */

/* Genel site arkaplanı */
body {
    background-color: #67CBDB; /* Sitenin genel arka plan rengi */
    padding-top: 70px; /* Header'ın yüksekliği kadar boşluk bırakıyoruz */
}



/* HEADER AYARLARI */

/* Header sabitleme ve banner ile yumuşak geçiş */
header {
    background-color: transparent; /* Başlangıçta şeffaf */
    height: 70px;
    display: flex;
    justify-content: flex-start; /* Logo ve menüyü sola hizalıyoruz */
    align-items: center;
    padding: 0 20px;
    position: fixed;  /* Header sabit */
    width: 100%;
    top: 0;
    z-index: 10; /* Header'ın her şeyin üstünde görünmesini sağlıyor */
    box-shadow: none; /* Header'a gölge eklenmiyor */
    transition: background-color 0.5s ease, box-shadow 0.5s ease; /* Geçiş efektleri */
    border-bottom-left-radius: 10px; /* Header alt köşeleri yuvarlanıyor */
    border-bottom-right-radius: 10px;
}


/* Scroll edildiğinde header'ın rengi değişiyor */
header.scrolled {
    background-color: rgba(42, 59, 87, 0.9); /* Scroll sonrası koyu renk */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge ile derinlik ekleniyor */
}

/* LOGO AYARLARI */

/* Logo'nun doğru hizalanması */
header .logo img {
    height: 60px; /* Daha büyük logo */
    width: auto;
    display: block;
    margin-left: 30px; /* Logonun solda daha belirgin durması için margin */
}

/* GENEL MENÜ YAPISI */
/* Sol Menü (Left Menu) Ayarları */
header nav ul.left-menu {
    list-style-type: none; /* Noktaları tamamen kaldır */
    display: flex; /* Yatay sıralama için flex kullan */
    margin: 0; /* Varsayılan margin'i kaldır */
    padding: 0; /* Varsayılan padding'i kaldır */
    align-items: center; /* Dikey olarak ortala */
}

/* Sol Menü Elemanları */
header nav ul.left-menu li {
    margin-right: 30px; /* Menü elemanları arasında boşluk bırak */
}

/* Sol Menü Linkleri */
header nav ul.left-menu li a {
    text-decoration: none; /* Alt çizgiyi kaldır */
    color: white; /* Yazı rengini beyaz yap */
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px; /* Menü elemanlarına padding ekle */
    display: inline-block; /* Linklerin yatayda sıralanmasını sağla */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover Efekti */
header nav ul.left-menu li a:hover {
    background-color: #00aaff;
    color: white;
}

/* Sol Menüyü Logonun Sağına Hizala */
header .logo {
    margin-right: 30px; /* Logo ile menü arasında boşluk */
    display: flex;
    align-items: center; /* Logo ile menüyü hizala */
}

/* Genel Menü Yapısı */
header nav {
    display: flex;
    justify-content: space-between; /* Sol ve sağ menüyü hizala */
    width: 100%;
}


/* Sağ Menü (Login) Ayarları */
header nav ul.right-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Sağ tarafa hizala */
    margin-right: 60px; /* Sağ kenardan boşluk */
}

header nav ul.right-menu li a.login-btn {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

header nav ul.right-menu li a.login-btn:hover {
    background-color: #0077cc;
}

/* Flex düzeni - Logo sol, menü sağda hizalı */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* BANNER AYARLARI */

/* Banner'ın header'ın altına yerleşmesi için margin kaldırıyoruz */

section.banner {
    margin-top: -70px; /* Header'ın altında görünmesini sağlamak için negatif margin */
    padding-top: 150px; /* İçeriği aşağı itiyoruz ki header ile çakışmasın */
    background: url('../images/banner.jpg') no-repeat center center; /* Arka plan resmi */
    background-size: cover;
    color: white;
    text-align: left; /* İçeriği sola yaslıyoruz */
    padding-left: 100px; /* Yazıyı sola kaydırıyoruz */
    padding-bottom: 100px; /* Aşağıda biraz boşluk bırakıyoruz */
    display: flex;
    flex-direction: column; /* İçeriği dikey olarak hizalayalım */
    justify-content: center; /* Banner içeriğini dikey olarak ortalayalım */
    align-items: flex-start; /* Sol tarafa yaslayalım */
    height: 20vh; /* Banner'ın yüksekliği ayarlanıyor */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Banner başlık ve açıklama yazısının ayarları */
.banner h1 {
    font-size: 2.5em;  /* Başlık yazısının boyutu */
    margin: 0;  /* Üst ve alt boşlukları sıfırlıyoruz */
    padding-bottom: 10px; /* Başlık ile açıklama arasında boşluk */
    text-align: left; /* Yazıyı sola yaslıyoruz */
    display: block; /* Yazının blok seviyesinde görünmesini sağlıyoruz */
}

.banner p {
    font-size: 1.2em;  /* Açıklama yazısının boyutunu küçültüyoruz */
    margin-top: 10px;  /* Başlığın altında biraz boşluk bırakıyoruz */
    padding: 0; /* Padding sıfırlanıyor */
    text-align: left;  /* Yazıyı sola yaslıyoruz */
    display: block;  /* Açıklamanın başlığın hemen altında görünmesini sağlıyoruz */
    line-height: 1.5;  /* Satır yüksekliğini artırıyoruz */
}
/* FUTURES SECTION*/

section.features-section {
    margin-top: -40px; /* Banner ile features section arasındaki boşluğu azaltıyoruz */
}
/* Features Section */
.features-section {
    display: flex;
    justify-content: space-between;  /* Öğeler arasındaki boşluğu dengeleyelim */
    align-items: center;  /* Dikeyde ortalayalım */
    background-color: rgba(26, 81, 111, 0); /* Arka plan rengi %40 transparan */
    padding: 10px 0;
    border-radius: 10px;  /* Yuvarlatılmış köşeler */
    flex-wrap: nowrap;  /* Öğelerin yan yana olmasını sağlayalım */
    max-width: 1080px; /* Genişliği sınırla */
    margin: 0 auto; /* Ortalamak için */
}

.feature-item {
    text-align: center;
    flex: 1;
    max-width: 200px;
    margin: 0 10px;
    padding: 10px 0;
    background-color: rgba(205, 231, 245, 0.9); /* Arka plan rengi %40 transparan */
    border-radius: 10px; /* Yuvarlatılmış köşeler */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Kabarık görünüm için gölge */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover efekti için yumuşak geçiş */
}

/* Hover olduğunda kabarık görünümü artırma */
.feature-item:hover {
    transform: translateY(-10px); /* Öğeyi yukarı kaldırma efekti */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Gölgeyi artırarak kabarık görünüm */
}
.feature-icon i {
    font-size: 40px; /* İkonların boyutu */
    margin-bottom: 10px; /* İkon ile başlık arasında boşluk */
    display: block; /* Ortalamak için blok seviyesi yap */
    text-align: center; /* İkonu ortala */
}

.feature-icon .material-icons {
    font-size: 40px; /* İkonların boyutu */
    margin-bottom: 10px; /* İkon ile başlık arasında boşluk */
    display: block; /* Ortalamak için blok seviyesi yap */
    text-align: center; /* İkonu ortala */
}

.feature-item h3 {
    font-size: 1.2em;
    color: #2a3b57;  /* Başlıklar için logo rengi */
    margin-bottom: 8px;
}

.feature-item p {
    font-size: 0.8em;
    color: #666;  /* Açıklama metni rengi */
}



/* FEATURED CONTENT AYARLARI */

/* Featured Content arka plan ayarları */
.featured-content {
    background-color: rgba(0, 0, 0, 0); /* Tamamen şeffaf arka plan */
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 0;
    margin-top: 0;
}

/* Featured Content öğeleri ayarları */
.featured-content .content-grid {
    display: flex;
    justify-content: space-around;
}

/* Her klasör için %50 transparan arka plan ve boyut ayarları */
.featured-content .content-item {
    width: 318pt; /* Genişlik */
    height: 300pt; /* Yükseklik */
    background-color: rgba(83, 156, 179, 0.9); /* %50 şeffaflık ve canlı renk */
    padding: 20px;
    border-radius: 10px; /* Yuvarlatılmış köşeler */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hafif gölge ile kabarık efekt */
    margin: 10px; /* Kutular arasında boşluk */
    text-align: center; /* İçeriği ortala */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Klasör hover efekti - kutular üzerine gelince daha kabarık görünüm */
.featured-content .content-item:hover {
    transform: translateY(-10px); /* Yukarı kaldırma efekti */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Gölgeyi artırarak kabarık görünüm */
}

.featured-content .content-item img {
    width: 80px; /* Görsellerin genişliğini ayarla */
    height: auto;
    margin-bottom: 4px;
}

/* İçerik içindeki yazılar ve linkler */
.featured-content .content-item p, .featured-content .content-item a {
    color: white; /* Yazılar ve linkler için beyaz renk */
}

/* Klasör hover efekti - kutular üzerine gelince daha kabarık görünüm */
.featured-content .content-item:hover {
    transform: translateY(-10px); /* Yukarı kaldırma efekti */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Gölgeyi artırarak kabarık görünüm */
}

/* Featured resimlerin boyutlarını kontrol etmek için */
.featured-image {
    width: 75px;  /* Genişliği 75px yapıyoruz */
    height: auto;  /* Yükseklik genişliğe göre orantılı ayarlanacak */
    display: block;
    margin: 0 auto; /* Ortalamak için */
    object-fit: cover;  /* Resimlerin düzgün görünmesi için */
}

/* Story of the Week, Video of the Week, Game of the Week bölümleri */
.story-of-the-week, .video-of-the-week, .game-of-the-week {
    width: 100%;
    background-color: #1f8cad;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 400px; /* Yüksekliği minimum 400px yapar */
    box-sizing: border-box; /* Padding'i dahil ederek genişlik ve yüksekliği hesaplar */
}

.story-of-the-week h3, .video-of-the-week h3, .game-of-the-week h3 {
    text-align: center;
    margin-bottom: 10px;
}

/* Story of the Week, Video of the Week, Game of the Week Başlık Stili */
.story-of-the-week h3, .video-of-the-week h3, .game-of-the-week h3 {
    background-color: #3854F9; /* Arka plan rengi */
    color: white; /* Yazı rengi beyaz */
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em; /* Başlık yazı boyutu */
    border-radius: 8px; /* Hafif yuvarlatılmış köşeler */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* İçe doğru gölge efekti (baskı efekti) */
    display: inline-block; /* Başlığı dikdörtgen şeklinde ayarlar */
    width: flex; /* Genişliği tam yapar */
    box-sizing: border-box; /* Padding ve genişlik hesaplamasını düzeltir */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Yazıya hafif gölge efekti */
}

.story-of-the-week .icon, .video-of-the-week .icon, .game-of-the-week .icon {
    display: block;
    margin: 0 auto 10px auto;
    font-size: 50px;
}

/* Video dikdörtgen olacak, çember yapılmayacak */
.video-of-the-week .video-container {
    display: inline-block;
    width: 100%; /* Videonun genişliğini tam yapar */
    height: auto; /* Yüksekliği videoya göre ayarlar */
    border-radius: 0; /* Köşeleri yuvarlamaz, dikdörtgen kalır */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge ekler */
}

.video-of-the-week video {
    width: 100%; /* Video genişliği tam olarak sığar */
    height: auto; /* Yükseklik genişliğe göre orantılı ayarlanır */
}

.video-container {
    width: 100%; /* Kapsayıcının genişliğini %100 yap */
    max-width: 300px; /* Videonun genişliğini sınırla */
    height: auto; /* Yükseklik genişliğiyle orantılı olacak */
    margin: 0 auto; /* Ortalamak için margin ayarla */
    overflow: hidden; /* Taşmayı engelle */
    border-radius: 10px; /* Kenarları yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
}

.video-container iframe {
    width: 100%; /* İframe genişliğini kapsayıcıya göre ayarla */
    height: auto; /* Yüksekliği genişliğe göre orantılı yap */
}

/* LAST ADDED SECTION AYARLARI */

/* Last Added Section ayarları */
.last-added-section {
    background-color: rgb(56, 125, 155, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px; /* Padding'i azaltarak yüksekliği düşür */
    height: auto; /* Yüksekliği içeriğe göre otomatik ayarlamak için */
    max-width: 100%;
}

.last-added-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    position: relative;
    border-right: 2px solid white; /* Dikey beyaz çizgi ekler */
}

/* Son elemandaki sağ sınırı kaldır */
.last-added-item:last-child {
    border-right: none; /* Son öğede sağdaki çizgiyi kaldır */
}

/* Subcategory Sarı Dikdörtgen Ayarları */
.subcategory-container {
    display: inline-block;
    padding: 4px 8px; /* İçerideki padding'i azaltarak daha kompakt görünüm */
    background-color: #F2C94C; /* Uyumlu sarı renk */
    border-radius: 8px; /* Dikdörtgenin köşelerini hafif yuvarlatma */
    margin-top: 10px;   
}

/* Başlık, tür ve seviye arasındaki boşlukları azalt */
.last-added-item h4, .last-added-item p, .subcategory-container {
    margin-bottom: 2px; /* Elemanlar arasındaki boşluğu azalt */
}

.subcategory {
    color: white; /* Yazı rengi beyaz */
    font-weight: bold;
    font-size: 0.9em;
    margin: 0;
}

/* FOLLOW US*/

/* Follow Us Section ayarları */
.follow-us-section {
    background-color: rgba(0, 0, 0, 0); /* Şeffaf arka plan */
    display: flex;
    align-items: center; /* İkon ve metni dikeyde ortala */
    justify-content: flex-end; /* Sağ tarafa hizalanmış */
    padding: 0 10px; /* Yüksekliği azaltmak için padding en aza indirildi */
    margin-right: 10px; /* Sağ kenardan boşluk */
    margin-bottom: 10px; /* Footer ile boşluk */
    height: auto; /* Yükseklik otomatik */
    margin-top: 10px; /* Footer ile boşluk */
}

/* Follow Us Text Stili */
.follow-us-text {
    font-size: 1.2em; /* Yazı boyutunu biraz küçülttük */
    font-weight: bold; /* Kalın yazı */
    color: #fff; /* Beyaz renk */
    margin-right: 15px; /* Metin ile ikonlar arasında daha az boşluk */
    letter-spacing: 1px; /* Harfler arasındaki boşluğu azalttık */
    text-transform: uppercase; /* Büyük harflerle dikkat çekici */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Gölge efekti hafifletildi */
    font-family: 'Roboto', sans-serif; /* Yazı tipi */
}

/* Follow Us metni altında çizgi efekti */
.follow-us-text::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Metnin hemen altına */
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
}

/* Sosyal medya ikonları */
.follow-us-section .social-icon img {
    width: 30px; /* İkon boyutunu küçülttük (30px) */
    height: 30px; /* Yükseklik aynı olacak */
    margin-right: 15px; /* İkonlar arasında daha az boşluk */
    transition: transform 0.3s ease;
}

/* İkonların hover efekti */
.follow-us-section .social-icon:hover img {
    transform: scale(1.2); /* Hover sırasında ikonları büyüt */
}

/* FOOTER AYARLARI */

/* Footer Stilleri */
footer {
    background-color: #243254; /* Arka plan rengi */
    color: white; /* Yazı rengi */
    padding: none;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h3 {
    font-size: 1.6em; /* Başlık boyutu */
    margin-bottom: 10px; /* Başlık ile linkler arasında boşluk */
    font-weight: bold;
}

.footer-content ul {
    list-style: none; /* Noktalı listeyi kaldırma */
    padding: 0;
    margin: 0 0 10px 0; /* Linklerle alt satır arasında boşluk */
    display: flex;
    justify-content: center; /* Linkleri ortalar */
    gap: 30px; /* Linkler arasında boşluk */
}


.footer-content ul li {
    display: inline; /* Linkleri yatay dizme */
}

.footer-content ul li a {
    color: white; /* Link yazı rengi */
    text-decoration: none; /* Alt çizgiyi kaldırma */
    font-size: 1em; /* Linklerin boyutu */
    transition: color 0.3s ease; /* Hover efekti için geçiş süresi */
}

.footer-content ul li a:hover {
    color: #00BFFF; /* Hover efekti - link üzerine gelince renk değişimi */
}

.footer-content p {
    font-size: 0,9em; /* Alt satır boyutu */
    margin-top: 10px; /* Footer metni ile üst kısım arasında boşluk */
    margin: 0 0 0px 0;  /* Alt satır ile alt çizgi arasında boşluk */
}

/* WhatsApp Button Style */
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Butonun alt kenardan 20px yukarıda olmasını sağlar */
    right: 20px; /* Sağ kenardan 20px içerde olmasını sağlar */
    z-index: 1000; /* Butonu sayfadaki diğer elemanların üstünde tutar */
}

.whatsapp-button img {
    width: 60px; /* İkonun genişliği */
    height: 60px; /* İkonun yüksekliği */
    border-radius: 50%; /* İkonu daire yapar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
    transition: transform 0.3s ease; /* Hover efekti için geçiş süresi */
}

.whatsapp-button img:hover {
    transform: scale(1.1); /* Hover sırasında butonu büyütür */
}

